.stay-details {
  padding-block-start: rem(24px);

  h2 {
    margin-block-end: rem(24px);
    font-size: rem(26px);
    line-height: rem(30px);
    font-weight: 500;
  }

  h3 {
    font-size: rem(22px);
    line-height: rem(26px);
    font-weight: 500;
    margin-block-end: rem(4px);
  }

  .scroll-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 1rem;
    border-block-end: 1px solid $gray2;

    >* {
      grid-column: 1;
    }

    .reservation-column {
      grid-column: 2;

      .reservation-widget {
        position: sticky;
        top: rem(112px);
        max-width: 370px;
        width: 100%;
        justify-self: end;

      }
    }
  }
}