.stay-index {
  .pagination-controls {
    margin-block-start: 1rem;
    &.bottom{
      justify-self: center;
      scale: 1.2;
    }

    >button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $clr-text-primary;
      background-color: $clr-btn-menu;
      border: 1px solid $clr-btn-menu;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      padding: 0;

      svg>path {
        stroke: $clr-text-primary;
        stroke-width: 24px;
      }
    }

    &:first-of-type {
      margin-inline: 0;
    }

    &:disabled {
      background-color: $clr-white;
      color: $gray-5;
      cursor: not-allowed;

      svg>path {
        stroke-width: 1px;
      }
    }

    svg {
      height: 12px;
      width: 12px;
    }
  }
}