.observer-top {
  display: none;
  position: absolute;
  top: 0;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

body:has(.stay-index) {
  .observer-top {
    display: block;
  }
}

body:has(.stay-details) {
  .app-header {
    display: none;

    @include for-normal-layout {
      display: grid;
      position: absolute;
    }
  }
}

.app-header {
  grid-template-rows: 1fr 1fr;
  position: fixed;
  top: 0;

  width: 100%;
  height: rem(200px);
  margin-inline: 0;

  background: linear-gradient(180deg, $clr-white 39.9%, $gray-3 100%);
  border-block-end: 1px solid $gray1;
  z-index: 1000;
  transition: height .2s;

  &.header-small {
    height: rem(80px);

    .filter-bar {
      display: none;
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: .8em;
    margin-block-end: rem(25px);
    height: rem(78px);

    .menu-wrapper {
      position: relative;
      display: flex;
      gap: rem(12px);
      align-items: flex-end;

      .btn-hamburger-menu {
        @include circle-button(40px);
      }

      .user-img {
        @include circle-button(40px);
        margin-inline-start: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      color: $clr-brand-main;

      .logo-full {
        width: rem(98px);
        transform: translateX(-2px);
        display: none;
        pointer-events: none;
        cursor: default;
      }

      // Show full logo on wide screens
      @include for-wide-layout {
        .logo-full {
          display: block;
        }
      }

      // @media (min-width: $normal-breakpoint) {
      //   .logo-full {
      //     display: block;
      //   }
      // }
    }
  }
}

.header-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba($color: $clr-text-primary, $alpha: 0.25);
  cursor: pointer;
  z-index: 500;

  transition: opacity .5s ease;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

body:has(main.stay-details) .app-header .header-content {
  max-width: 1120px;
  margin-inline: auto;
}