.expandable-text {
  .btn-toggle-text {
    display: block;
    margin-block-start: 1rem;
    padding: rem(14px) rem(24px);
    background-color: $clr-btn-menu;
    border: none;
    border-radius: rem(12px);
    font-size: 1rem;
    font-weight: 500;
  }
}