.hamburger-menu {
  background-color: $clr-bg;
  border-radius: rem(12px);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  width: 265px;
  padding-block: rem(12px);

  ul {
    margin: 0;
    border-block-end: 1px solid $gray2;

    li {
      font-weight: 500;
      line-height: em(18px);
      font-size: rem(14px);
      padding-block: rem(9px);
      padding-inline: rem(24px);

      &:hover {
        background-color: $gray0;
      }

      &:last-child {
        margin-block-end: rem(8px);
      }

      a {
        display: inline-block;
        width: 100%;
      }
    }
  }

  .btn-menu-auth {
    font-size: rem(14px);
    line-height: em(18px);
    padding: rem(9px) rem(24px);
    display: block;
    width: 100%;
    text-align: start;
    border: none;
    background: none;

    &.logout {
      margin-block-start: rem(8px);
    }
  }
}