.login-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 35%);
  width: 50%;
  max-width: 568px;

  border-radius: 1rem;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);

  text-align: center;
  background-color: $clr-bg;
  z-index: 1000;

  header {
    border-block-end: 1px solid $gray2;
    padding: rem(20px);
    margin-block-end: rem(25px);

    h2 {
      font-size: 1rem;
    }

    .btn-close {
      position: absolute;
      top: em(20px);
      left: em(18px);
      font-size: 1rem;
      border-radius: 50%;
      aspect-ratio: 1/1;

      &:hover {
        background-color: $gray0;
      }
    }
  }

  .modal-body {
    padding-inline: 24px;
    text-align: start;

    >* {
      margin-block-end: rem(15px);
    }

    h3 {
      font-size: rem(22px);
      margin-block-end: rem(20px);
    }

    input {
      margin-inline: auto;
      width: 100%;
      line-height: rem(20px);
      font-size: 1rem;
      padding: rem(12px);
      border-radius: rem(8px);
      border: 1px solid $gray15;
      margin-block: 0 rem(15px);

      &:focus {
        border-color: $gray4;
      }
    }

    .demo-login {
      display: flex;
      justify-content: space-evenly;

      button {
        padding: 1rem rem(12px);
        border: 1px solid $clr-brand-main;
        border-radius: rem(8px);
        font-weight: 500;
        font-size: rem(14px);
      }
    }

    p {
      font-size: rem(14px);
      text-align: center;

      .btn-toggle-signup {
        color: $clr-brand-main;
        font-size: inherit;
        font-weight: 500;
      }
    }
  }
}

.login-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba($color: $clr-text-primary, $alpha: 0.4);
  z-index: 1;
}