.filter-bar {
  position: relative;
  place-self: start center;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  align-items: center;

  width: 100%;
  max-width: 850px;
  height: rem(66px);

  background-color: $clr-bg;
  border: 1px solid $gray2;
  border-radius: rem(32px);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  &.focused {
    background-color: $gray1;

    >button:hover {
      background-color: $gray2;
    }

    >button.active:hover {
      background-color: $clr-bg;

      input[type='text']:-webkit-autofill {
        box-shadow: 0 0 0 1000px $clr-bg inset !important;
      }
    }
  }

  .active {
    background-color: $clr-bg;

    &::before {
      display: none;
    }

    &+button::before {
      display: none;
    }

    .btn-clear {
      display: block;
    }
  }

  button {
    position: relative;
    padding: rem(12px) rem(10px);
    margin: 0;
    height: 100%;

    background-color: transparent;
    color: $clr-text-tertiary;
    border: 0;
    border-radius: 100px;

    font-family: 'Airbnb Cereal';
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    line-height: 16px;
    cursor: pointer;

    @include for-wide-layout {
      padding: rem(12px) rem(24px);
    }

    &.btn-location {
      padding-inline: rem(30px);
    }

    &.btn-check-in {
      grid-column: 2;
    }

    &.btn-check-out {
      grid-column: 3;
    }

    &.btn-guests {
      grid-column: 4;
      transform: translateX(2px);
      padding-inline: rem(22px);

      .btn-content {
        transform: translateX(3px);
      }
    }

    &:hover {
      background-color: $gray1;

      input[type='text']:-webkit-autofill {
        box-shadow: 0 0 0 1000px $gray1 inset !important;
      }

      &::before {
        display: none;
      }

      &+button::before {
        display: none;
      }
    }

    .btn-content {
      display: grid;

      .btn-label {
        margin-block-end: 2px;
      }

      .btn-value {
        font-size: rem(14px);
        font-weight: 400;
        color: $clr-text-secondary;
      }
    }

    .btn-clear {
      display: none;
      position: absolute;
      right: rem(10px);
      top: 50%;
      transform: translateY(-50%);
    }

    input[type='text'] {
      background-color: transparent;
      border: none;
      font-size: rem(14px);
      font-weight: 600;
      font-family: 'Airbnb Cereal';
      color: $clr-text-tertiary;
      padding: 0;

      &::placeholder {
        font-weight: 400;
      }

      &:-webkit-autofill {
        box-shadow: 0 0 0 1000px $clr-bg inset !important;
      }
    }

    &.btn-filter:not(.btn-location)::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 50%;
      background-color: $gray2;
    }
  }

  .search-icon {
    @include search-icon;
    position: absolute;
    right: rem(12px);
    top: rem(8px);
    display: flex;
    gap: 6px;

    max-width: rem(48px);
    max-height: rem(48px);
    transition: max-width .4s ease, border-radius .4s;

    font-size: 1rem;
    overflow: hidden;

    .search-label {
      opacity: 0;
      visibility: hidden;
      transition: .4s;
    }

    &:hover,
    &.expanded {
      background: $theme-linear-gradient;
    }

    &.expanded {
      border-radius: 200px;
      max-width: rem(120px);

      .search-label {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}