// Font Sizes
.fs12 {
  font-size: rem(12px);
}

.fs14 {
  font-size: rem(14px);
}

.fs18 {
  font-size: rem(18px);
}

.fs20 {
  font-size: rem(20px);
}

.fs24 {
  font-size: rem(24px);
}

.fs28 {
  font-size: rem(28px);
}

.fs30 {
  font-size: rem(30px);
}

// flex helpers
.flex {

  display: flex;

  >*.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }
}

// Media helpers
.square-ratio {
  @include aspect-ratio(1, 1);
}

.video-ratio {
  @include aspect-ratio(16, 9);
}

.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.media-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// Display
.dis-none {
  display: none;
}

//Buttons
.btn-reset {
  border: none;
  background-color: transparent;
}

.btn-back {
  position: absolute;
  left: rem(5px);
  @include circle-button(rem(44px));
  background-color: $gray0;
  margin-top: rem(30px);
}

body:has(.booking-checkout) {
  .btn-back {
    left: rem(4px);

    @include for-narrow-layout {
      left: rem(20px);
    }

    @include for-normal-layout {
      left: rem(48px);
    }
  }
}

.btn-secondary {
  display: block;
  margin-block-start: 1rem;
  padding: rem(14px) rem(24px);
  background-color: $clr-btn-menu;
  border: none;
  border-radius: rem(12px);
  font-size: 1rem;
  font-weight: 500;
}

// Positioning
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-inline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}