body:has(.stay-details) .main-layout {
  grid-template-columns: 24px 1fr 24px;
  padding-block-start: 0;

  @include for-normal-layout {
    grid-template-columns: minmax(48px, 1fr) minmax(auto, 1120px) minmax(48px, 1fr);
  }


  @include for-normal-layout {
    &.default-padding {
      padding-block: rem(80px);
    }
  }
}

.main-layout {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 1824px) minmax(20px, 1fr);

  @include for-normal-layout {
    grid-template-columns: minmax(48px, 1fr) minmax(auto, 1824px) minmax(48px, 1fr)
  }

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 / -1;
    }
  }

  max-width: 2360px;

  &.home-padding {
    padding-block-start: 80px;
  }

  @media (min-width: 744px) {
    &.home-padding {
      padding-block: rem(200px) rem(80px);
    }
  }

  &.default-padding {
    padding-block: rem(80px);
  }
}