// Colors
$clr-white: #fff;
$clr-black: #000;

$clr-bg: #fff;
$clr-text-primary: #222;
$clr-text-secondary: #6a6a6a;
$clr-text-tertiary: #383838;
$clr-brand-main: #ff385c;

$clr-btn-like: #00000080;
$clr-btn-menu: #f2f2f2;

$gray-5: #c7c7c7;
$gray-4: #b0b0b0;
$gray-3: #f8f8f8;
$gray-2: #e4e4e4;
$gray-1: #eee;
$gray0: #f7f7f7;
$gray1: #ebebeb;
$gray2: #ddd;
$gray3: #d3d3d3;
$gray4: #333;
$gray5: #6a6a6a;
$gray6: #ccc;
$gray7: #888;
$gray9: #e0e0e0;
$gray10: #fafafa;
$gray11: #dedede;
$gray12: #f3f3f3;
$gray13: #e3e3e3;
$gray14: #f0f0f0;
$gray15: #8c8c8c;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #3cb371;
$clr9: #ff5a5f;
$clr10: #1f1f1f;

$approve-reservation: #2e7d32;
$reject-reservation: #c62828;
$pending-reservation: #f2994a;

// Breakpoints
// $mobile-breakpoint: 550px; //1 columns
$mobile-breakpoint: 502px; //1 columns
// $narrow-breakpoint: 744px; //2 columns
$narrow-breakpoint: 696px; //2 columns
$normal-breakpoint: 950px; //3 columns
$wide-breakpoint: 1128px; //4 columns