// Colors
$clr-white: #fff;
$clr-black: #000;

$clr-bg: #fff;
$clr-bg-darkened: #22222266;
$clr-text-primary: #222;
$clr-text-secondary: #6a6a6a;
$clr-text-tertiary: #383838;
$clr-brand-main: #ff385c;

$clr-btn-like: #00000080;
$clr-btn-menu: #f2f2f2;

$gray-5: #c7c7c7;
$gray-4: #b0b0b0;
$gray-3: #f8f8f8;
$gray-2: #e4e4e4;
$gray-1: #eee;
$gray0: #f7f7f7;
$gray1: #ebebeb;
$gray2: #ddd;
$gray3: #d3d3d3;
$gray4: #333;
$gray5: #6a6a6a;
$gray6: #ccc;
$gray7: #888;
$gray9: #e0e0e0;
$gray10: #fafafa;
$gray11: #dedede;
$gray12: #f3f3f3;
$gray13: #e3e3e3;
$gray14: #f0f0f0;
$gray15: #8c8c8c;

$theme-linear-gradient: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);

$res-approved-bg: #b9f8cf;
$res-pending-bg: #fdc162;
$res-rejected-bg: #ffc9c9;
$res-cancelled-bg: #ededed;

$res-approved-txt: #016630;
$res-pending-txt: #563f21;
$res-rejected-txt: #82181a;
$res-cancelled-txt: #6a6a6a;


// Breakpoints
$mobile-breakpoint: 550px; //1 columns
$narrow-breakpoint: 744px; //2 columns
$normal-breakpoint: 950px; //3 columns
$wide-breakpoint: 1128px; //4 columns